<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2>Wellcome to home page </h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur quasi ut repellat sapiente dolore maxime hic illum maiores omnis, perferendis quam nihil dolor incidunt explicabo ea, quaerat officiis. Nam, iusto!</p>
</body>
</html>